<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="DBConnString" providerName="System.Data.SqlClient" connectionString="SERVER=LP150071W7E64\SQLSERVER2008R2;Initial Catalog=MyHomeBank;User Id=MyHomeBankWebUser;Password=MHBWebUser2016!;Pooling=true;Min Pool Size=3;Max Pool Size=10" />
  </connectionStrings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="System" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="D:\\Temp\\Logs\\MyHomeBank.txt" header="" footer="" formatter="CSV Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Trace File Trace Listener" />
    </listeners>
    <formatters>
      <add template="{timestamp(local)},&quot;{category}&quot;,&quot;{priority}&quot;,&quot;{message}&quot;,{eventid},&quot;{severity}&quot;,&quot;{title}&quot;,{machine},&quot;{dictionary({value})}&quot;" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="CSV Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="All Events">
        <listeners>
          <add name="Trace File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Trace File Trace Listener" />
        </listeners>
      </allEvents>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Trace File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="IPageInfoDAO" value="EPE.Common.Dao.Service.PageInfoServiceDAO, EPEFramework" />
    <add key="ICatalogDAO" value="EPE.Common.Dao.Sql.CatalogSqlDAO, EPEFramework" />
    <add key="PageInfo" value="EPE.Common.Ajax.PageInfo, EPEFramework" />          
    <add key="EPEFrameworkAppName" value="MyHomeBank" />
  <add key="QueryHelper" value="EPE.Common.Ajax.QueryHelper, EPEFramework" /></appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PageServiceSoap" />
      <binding name="ModulesServiceSoap" /></basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/EPEFrameworkService/PageService.asmx" binding="basicHttpBinding" bindingConfiguration="PageServiceSoap" contract="EPEFrameworkService.PageServiceSoap" name="PageServiceSoap" />
      <endpoint address="http://dtapp1/EPEFrameworkService/ModulesService.asmx" binding="basicHttpBinding" bindingConfiguration="ModulesServiceSoap" contract="FrameworkModulesService.ModulesServiceSoap" name="ModulesServiceSoap" /></client>
  </system.serviceModel>
  <system.web>
    <customErrors mode="Off" />
    <pages buffer="true" validateRequest="true" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
      <allow roles="EPECAD\GG_APPLICATIONS_USERS" />
      <deny users="*" />
    </authorization>
    <httpHandlers>
      <add verb="*" path="*.ashx" type="EPE.Common.handler.AjaxController, MyHomeBank" />
    </httpHandlers>
    <httpRuntime maxUrlLength="40960" maxQueryStringLength="2097151" maxRequestLength="40960" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000" />
      </webServices>
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <handlers>
      <remove name="AjaxController" />
      <add name="AjaxController" verb="*" path="*.ashx" type="EPE.Common.handler.AjaxController, MyHomeBank" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="40960" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>